*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body
{
    background-color: #080808;
    color: #fff;
    overflow-x: hidden;
}

#hero
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;

}
.container
{
    padding: 1rem 10%;

}
.logo
{
    width: 8rem;
}

nav
{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover
{
    color: #F60B8A;
}

.detel
{
    margin-left: 8%;
    margin-top: 12%;
}

.detel h1
{
    font-size:5rem;
    color:white;
    margin-bottom: 2rem;
}

span
{
    color:#F60B8A;
}

.detel p
{
    color:white ;
}

.detel a 
{
    background: rgb(255, 230, 0);
    padding: 1rem 1.8rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 3rem 0;
    border-radius: 5rem;
}

.images
{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10rem;
}

.images img
{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
    transition: bottom 1s, left 1s;
}
.fas {
    display: none;
}

/* About------------------------------ */

#about
{
    padding: 8rem 0;
    color: #ababab; ;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .about-col-1
{
    flex-basis: 35% ;
}

.about-col-1 img
{
    width:100%;
    border-radius: 1.5rem;
    border: .2rem solid ;
}
.about-col-2
{
    flex-basis: 60%;

}
.sub-title
{
    font-size: 6rem;
    font-weight: 600;
    color: #fff;
} 

.tab-titles
{
    display: flex;
    margin: 2rem 0 4rem;
}
.tab-links
{
    margin-right: 7rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after
{
    content: '';
    width: 0;
    height: .3rem;
    background: #F60B8A;
    position: absolute;
    left: 0;
    bottom: -.8rem;
    transition: 0.5s;
}
.tab-links.active-link::after
{
    width: 50%;
}
.tab-contents ul li
{
    list-style: none;
    margin: 2rem 0;
}
.tab-contents ul li span
{
    color: #b54769;
    font-size: 1.4rem;
}
.tab-contents
{
    display: none;
}
.tab-contents.active-tab
{
    display: block;
}
.info
{
    color: #ababab;
    font-size: 1.5rem;
}

/* project---------------------------------------------- */

#project
{
    padding: 5rem 0;
    
}

.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 4rem;
    margin-top: 5rem;
}
.work{
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.work img
{
    width: 100%;
    border-radius: 1rem;
    display: block;
    transition: transform 0.5s;
}

.layer
{
    width: 100%;
    height: 0rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #ff004f);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    font-size: 1.4rem;
    transition: height 0.8s;
}
.layer h3
{
    font-weight: 500;
    margin-bottom: 2rem;
}
.layer a
{
    margin-top: 2rem;
    color:#F60B8A;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 60rem;
    background: #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
}
.work:hover img
{
    transform: scale(1.1);
}
.work:hover .layer
{
    height: 100%;
    transform: scale(1.1);
}
.work:hover h3{
    opacity: 1;
}
.work:hover p {
    opacity: 1;
}
.work:hover a {
    opacity: 1;
}
.hide
{
    opacity: 0;
}

/* contact-------------------------------------------- */
.contact
{
    padding-top: 6rem;
}
.contact-left
{
    flex-basis: 35%;
}
.contact-right
{
    flex-basis: 60%;
}
.contact-left p
{
    margin-top: 3rem;
}
.contact-left p i
{
    color: #F60B8A;
    margin-right: 1.5rem;
    font-size: 2.5rem;
}
.social-icon a
{
    text-decoration: none;
    font-size: 3rem;
    margin-right: 1.5rem;
    margin-top: 4rem;
    color: #ababab;
    display: inline-block;
    transition: transition 0.5s;
}
.social-icon a:hover
{

    color: #F60B8A;
    transform: translateY(-5rem);
}
.btn.btn2
{
    display: block;
    margin: 5rem auto;
    width: fit-content;
    padding: 1.4rem 5rem;
    border-radius: .6rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: #F60B8A;
}
.contact-right form
{
    width: 100%;
}
form input,form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 1.5rem;
    margin: 1.5rem 0;
    color: #fff;
    font-size: 1.8rem;
    border-radius: .6rem;
}
form .btn2
{
    padding: 1.4rem 6rem;
    font-size: 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.copyright
{
    width: 100%;
    text-align: center;
    padding: 2.5rem 0;
    background: #262626;
    font-weight: 300;
    margin-top: 2rem;
}

.fas
{
    display: none;
}
/* css for small screens------------------------------------ */

@media(max-width:576px)
{
    html {
            font-size: 35%;
        }
    .images
    {
        width: 25%;
        height: 60%;
        left: 30rem;
    }
   .detel {
       margin-left: 14%;
   }

   .detel h1 {
       font-size: 6rem;
   }

   .detel p {
    font-size: 2rem;
   }
   .detel a {
       padding: 2rem 2.8rem;
       font-size: 2rem;
       
   }
   .fas
   {
    display: block;
    font-size: 2rem;
   }
   nav ul{
    background: #262626;
    position: fixed;
    top: 0;
    right: -30rem;
    width: 30rem;
    height: 100vh;
    padding-top: 8rem;
    font-size: 3rem;
    z-index: 2;
    transition: right 0.5s;
   }
   nav ul li
   {
    display: block;
    margin: 5rem;
   }
   nav ul .fas
   {
        position: absolute;
        top: 4rem;
        left: 3rem;
        cursor: pointer;
   }
   #about
   {
    height: 100%;
   }
   .sub-title {
        margin-top: 2rem;
   }
   .tab-links {
       margin-right: 10rem;
       font-size: 3rem;
   }

   .tab-contents ul li span {
       font-size: 3rem;
   }

   .tab-contents.active-tab {
       font-size: 2rem;
   }
   .info
   {
    font-size: 2rem;
   }
   .work-list {
       display: inline-block;
       
   }
   .work img {
       margin: 4rem 0;
   }
   .contact
   {
    height: 100vh;
    padding-top: 2rem;
   }
   .contact-left,.contact-right
   {
    flex-basis: 100%;
   }
   .contact-left p {
       font-size: 2rem;
   }
   .btn.btn2 {
       font-size: 2rem;
   }

   .contact-right form {
       width: 100%;
   }
   form .btn2 {
       margin-top: 2rem;
   }
   .copyright {
        margin-top: 16rem;
        margin-left: 1.2rem;
        font-size: 2rem;

   }
}
@media (min-width:577px) and (max-width:768px)
{
    html
    {
        font-size: 55%;
    }
    .images
    {
        height: 67%;
        right: 24rem;
    }
    .detel p 
    {
        font-size: 2rem;
    }
   .detel a 
    {
        padding: 2rem 2.8rem;
        font-size: 2rem;
    }
    #about 
    {
        height: 100vh;
    }
    .row
    {
        display: grid;
    }
    .about-col-1 img
    {
        width:30rem;
        height: 30rem;
    }
    .sub-title
    {
        font-size: 5rem;
        margin-top: 2rem;
    } 

.tab-titles
{
    margin: 4rem 0 3rem;
}
.tab-links
{
    margin-right: 10rem;
    font-size: 3rem;
}
.tab-contents ul li
{
    list-style: none;
    margin: 2rem 0;
    font-size: 1.5rem;
}
.tab-contents ul li span
{
    color: #b54769;
    font-size: 3rem;
}
.info
{
    color: #ababab;
    font-size: 2rem;
}
.work-list {
    display: inline-block;
}
.work img {
    margin: 4rem 0;
}
.work img
{
    height: 80rem;
}
.sub-title
{
    font-size: 4rem;
}

.contact-left p {
    font-size: 2rem;
}

.btn.btn2 {
    font-size: 2rem;
}

.copyright {
    font-size: 2rem;
}
}